<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/jquery-1.11.1.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/bootbox.min.js"></script>t>

    <title>Bedcount</title>
  </head>
  <body>
    <h1>Comment on <%= person %></h1>
    <form id="commentForm" name="comment" method="post" action="/shelter/comment">
      Comment: <input type="text" name="comment" autofocus></input><br>
      <button id="btnSubmit" type="submit" value="<%= person %>">Submit</button>
    </form>
  </body>
</html>
