<!DOCTYPE html>
<html lang="en">
  <head lang="en">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/jquery-1.11.1.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/bootbox.min.js"></script>

    <title>Bedcount</title>
  </head>
  <body>
    <h1>Edit Shelter Features</h1>
    <form id="formAddUser" name="adduser" method="post" action="/shelter/features">
      Shelter Address: <input id="inputAddress" type="text" name="address" value="<%= address %>" autofocus></input><br>
      Available Male Beds: <input id="inputMaleBeds" type="number" name="numberMale" value="<%= beds.numberMale %>" autocomplete="off" min="0"></input><br>
      Available Female Beds: <input id="inputFemaleBeds" type="number" name="numberFemale" value="<%= beds.numberFemale %>" autocomplete="off" min="0"></input><br>
      Available Gender Neutral Beds: <input id="inputNeutralBeds" type="number" name="numberNeutral" value="<%= beds.numberNeutral %>" autocomplete="off" min="0"></input><br>
      <!-- Drinking Status: <input type="radio" name="sober" value="true">Sober</input> -->
                       <!-- <input type="radio" name="sober" value="false">Not Sober</input><br> -->
      <button id="btnSubmit" type="submit">Submit</button>
  </body>
</html>
