<!DOCTYPE html>
<html>
  <head>
    <title>Bedcount</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Bedcount</h1>
    <p>Welcome to Bedcount</p>
    <button id="addUserButton" onclick="location.href = 'signup';">New User</button>
	<button id="loginButton" onclick="location.href = 'login';">Login</button>
  </body>
</html>
