<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Bedcount</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/jquery-1.11.1.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
  </head>
  <body>
    <h1>Bedcount</h1>
    <p>Welcome to Bedcount</p>
    <button id="addUserButton" onclick="location.href = 'signup';">New User</button>
	  <button id="loginButton" onclick="location.href = 'login';">Login</button>
  </body>
</html>
