<!DOCTYPE html>
<html>
    <head>
      <% include _head %>

      <script src="/javascripts/signup.js"></script>
    </head>
    <body>
        <div class="navbar">
            <div class="navbar-brand">Bedcount</div>
            <div class="navbar-right">
                <div id="btn-login" class="navbar-button">Log In</div>
            </div>
        </div>
        <div class="main-content text-center">
            <!-- <img class="background" src="/images/room.png"> -->
            <h1>Bedcount</h1>
            <span>Welcome to Bedcount!<br><br><span>
            <input id="inp-signup-sheltername" type="text" placeholder="Shelter Name" /><br>
            <input id="inp-signup-password" type="password" placeholder="Password" /><br>
            <input id="inp-signup-email" type="email" placeholder="Email" /><br>
            <input id="inp-signup-phone" type="tel" placeholder="Phone Number" /><br>
            <button id="btn-signup" class="button">Sign Up</button>
        </div>

    </body>
</html>
