<!DOCTYPE html>
<html>
    <head>
        <% include _head %>

        <script src="/javascripts/login.js"></script>
    </head>
    <body>
        <div class="navbar">
            <div class="navbar-brand">Bedcount</div>
            <div class="navbar-right">
                <div id="btn-signup" class="navbar-button">Sign Up</div>
            </div>
        </div>
        <div class="main-content text-center">
            <h1>Login to Existing Account</h1>
            <div id="login-inputs">
        	     <input id="inp-login-name" type="text" placeholder="Shelter Name" name="shelterName" autofocus></input><br>
        	     <input id="inp-login-password" type="password" placeholder="Password" name="password" autocomplete="off"></input><br>
        	     <button id="btn-login" class="button">Login</button>
            </div>

            <div id="error-message"></div>
            <div id="signup-link"><a href="signup"> New to Bedcount? </a><div>
        </div>
    </body>
</html>
