<!DOCTYPE html>
<html>
  <head>
    <title>Bedcount</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Login to Existing Account</h1>
    <form id="formAddUser" name="adduser" method="post" action="/login">
    	<input id="inputUserName" type="text" placeholder="Shelter Name" name="shelterName" autofocus></input><br>
    	<input id="inputPassword" type="password" placeholder="Password" name="password" autocomplete="off"></input><br>
    	<button id="btnSubmit" type="submit">Login</button>
  </body>
</html>
