<!DOCTYPE html>
<html>
  <head>
    <title>Bedcount</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Create New Account</h1>
    <form id="formAddUser" name="adduser" method="post" action="/addaccount">
    	<input id="inputShelterName" type="text" placeholder="Shelter Name" name="shelterName" autofocus></input><br>
      <input id="inputPassword" type="password" placeholder="Password" name="password" autocomplete="off"></input><br>
      <input id="confirmPassword" type="password" placeholder="Confirm Password" name="confirm" autocomplete="off"></input><br>
    	<input id="inputUserEmail" type="email" placeholder="Email" name="email"></input><br>
      <input id="inputPhoneNumber" type="tel" placeholder="Phone Number" name="phoneNumber" autocomplete="off"></input><br>
    	<button id="btnSubmit" type="submit">Create</button>
  </body>
</html>
