<!DOCTYPE html>
<html>
    <head>
        <% include _head %>

        <script src="/javascripts/signup.js"></script>  
    </head>
    <body>
        <div class="navbar">
            <div class="navbar-brand">Bedcount</div>
            <div class="navbar-right">
                <div id="btn-login" class="navbar-button">Log In</div>
            </div>
        </div>
        <div class="main-content text-center">
            <h1>Create New Account</h1>
            <div id="signup-inputs">
              	<input id="inp-signup-username" type="text" placeholder="Username" /><br>
                <input id="inp-signup-password" type="password" placeholder="Password" /><br>
                <input id="inp-signup-email" type="email" placeholder="Email" /><br>
                <input id="inp-signup-phone" type="tel" placeholder="Phone Number" /><br>
                <button id="btn-signup" class="button">Sign Up</button>
            </div>
            <div id="error-message"></div>
            <div id="login-link"><a href="/login">Already have an account?</a></div>
        </div>
    </body>
</html>
