<!DOCTYPE html>
<html>
  <head>
    <title>Bedcount</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css'>
    <script src="/javascripts/jquery-1.11.1.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/signup.js"></script>  
  </head>
  <body>
    <h1>Create New Account</h1>
    <div id="signup-inputs">
    	<input id="sheltername" type="text" placeholder="Shelter Name"autofocus></input><br>
      <input id="password" type="password" placeholder="Password"autocomplete="off"></input><br>
<!--       <input id="confirmPassword" type="password" placeholder="Confirm Password" autocomplete="off"></input><br> -->
    	<input id="emailaddress" type="email" placeholder="Email"></input><br>
      <input id="phonenumber" type="tel" placeholder="Phone Number" autocomplete="off"></input><br>
    	<button id="signup">Create</button>
    </div>
    <div id="error-message"></div>
    <div id="login-link"><a href="/login">Already have an account?</a></div>
  </body>
</html>
