<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../_head %>

        <script src="/javascripts/homepage.js"></script>
        <script src="/javascripts/navbar.js"></script>
    </head>
    <body>
        <div class="navbar">
            <div class="navbar-brand">Bedcount</div>
            <div id="btn-homepage" class="navbar-button">Homepage</div>
            <div class="navbar-right">
                <div class="navbar-name"><%= shelterName %></div>
                <ul class="navbar-dropdown">Account
                    <li id="btn-settings" class="dropdown-button">Settings</li>
                    <li id="btn-logout" class="dropdown-button">Logout</li>
                </ul>
            </div>
        </div>
        <div class="main-content text-center">
            <div id="bed-view">
                <h1>Your Bedcount</h1>

                <button id="btn-addbed" class="button">New Bed</button><br><br>

                Total Beds Available:
                <div id="bed-numberMale">Male - <%= bedObject.numberMale %></div> 
                <div id="bed-numberFemale">Female - <%= bedObject.numberFemale %></div> 
                <div id="bed-numberNeutral">Neutral - <%= bedObject.numberNeutral %></div><br>

                <table id="bed-table" class="bed-table">
                    <thead>
                        <tr>
                            <th>Bed</th>
                            <th>Type</th>
                            <th>Occupant</th>
                            <th>Nights Left</th>
                            <th>Not In Tonight</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>

            <div id="account-settings" class="hidden">
                <h1>Shelter Settings</h1>
                Shelter Name: <div id="settings-shelterName"></div><br>
                Shelter Address: <div id="settings-address"></div><br>
                Phone Number: <div id="settings-phone"></div><br>
                Available Male Beds: <div id="settings-availableMale"></div><br>
                Available Female Beds: <div id="settings-availableFemale"></div><br>
                Available Gender Neutral Beds: <div id="settings-availableNeutral"></div><br>
            </div>

            <div id="error-message"></div>
        </div>
    </body>
</html>
