<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../_head %>

        <script src="/javascripts/bootbox.min.js"></script>
        <script src="/javascripts/homepage.js"></script>
    </head>
    <body>
        <div class="navbar">
            <div class="navbar-brand">Bedcount</div>
            <div class="navbar-right">
                <div id="btn-logout" class="navbar-button">Log Out</div>
            </div>
        </div>
        <div class="main-content text-center">
            <h1>Your Bedcount</h1>
            <h2>Hello <%= shelterName %></h2>

            <button id="settings" class="button">Edit Shelter Settings</button><br><br>

            <button id="addbed" class="button">New Bed</button><br><br>

            Total Beds Available:
            <div id="numberMale">Male - <%= bedObject.numberMale %></div> 
            <div id="numberFemale">Female - <%= bedObject.numberFemale %></div> 
            <div id="numberNeutral">Neutral - <%= bedObject.numberNeutral %></div><br>

            <table id="bed-table"></table>

            <div id="error-message"></div>
        </div>
    </body>
</html>
