<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../_head %>

        <script src="/javascripts/homepage.js"></script>
        <script src="/javascripts/navbar.js"></script>
    </head>
    <body>
        <div class="navbar">
            <div class="navbar-brand">Bedcount</div>
            <div id="btn-homepage" class="navbar-button">Homepage</div>
            <div class="navbar-right">
                <div class="navbar-name"><%= shelterName %></div>
                <ul class="navbar-dropdown">Account
                    <li id="btn-settings" class="dropdown-button">Settings</li>
                    <li id="btn-logout" class="dropdown-button">Logout</li>
                </ul>
            </div>
        </div>
        <div class="main-content text-center">
            <div id="bed-view">
                <h1>Your Bedcount</h1>

                <button id="btn-addbed" class="button">New Bed</button><br><br>

                Total Beds Available:
                <div id="bed-numberMale">Male - <%= bedObject.numberMale %></div> 
                <div id="bed-numberFemale">Female - <%= bedObject.numberFemale %></div> 
                <div id="bed-numberNeutral">Neutral - <%= bedObject.numberNeutral %></div><br>

                <table id="bed-table" class="bed-table">
                    <thead>
                        <tr>
                            <th>Bed</th>
                            <th>Type</th>
                            <th>Occupant</th>
                            <th>Nights Left</th>
                            <th>Not In Tonight</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>

            <div id="account-settings" class="hidden">
                <h1>Shelter Settings</h1>
                Shelter Name: <input id="settings-shelterName"></input><br>
                Shelter Address: <input id="settings-address"></input><br>
                Phone Number: <input id="settings-phone"></input><br>
                Available Male Beds: <input id="settings-availableMale"></input><br>
                Available Female Beds: <input id="settings-availableFemale"></input><br>
                Available Gender Neutral Beds: <input id="settings-availableNeutral"></input><br><br>
                <button id="btn-submit-settings" class="button">Save</button>
            </div>

            <div id="new-bed" class="hidden">
                <h1>Add a New Bed</h1>
                Bed type:   <input type="radio" id="inp-gender-male" name="gender" value="male" checked>Male</input>
                            <input type="radio" id="inp-gender-female" name="gender" value="female">Female</input>
                            <input type="radio" id="inp-gender-neutral" name="gender" value="neutral">Gender Neutral</input><br>
                Bed ID: <input type="text" id="inp-bedId" name="id" autofocus></input><br><br>
                <button id="btn-submit-addbed" class="button">Create</button>
            </div>

            <div id="error-message"></div>
        </div>
    </body>
</html>
