<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Bedcount</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/jquery-1.11.1.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/homepage.js"></script>
    <script src="/javascripts/bootbox.min.js"></script>
  </head>
  <body>
    <h1>Your Bedcount</h1>
    <h2>Hello <%= shelterName %></h2>
  	<button id="logout" type="button">Log Out</button><br><br>

    <a href="/shelter/features">Edit Shelter Settings</a><br><br>

    <button id="addbed" type="button">New Bed</button><br><br>

    <p>Total Beds Available: Male - <%= bedObject.numberMale %>, Female - <%= bedObject.numberFemale %>, Gender Neutral - <%= bedObject.numberNeutral %></p> 

    <table id="bed-table"></table>

    <div id="error-message"></div>

  </body>
</html>
